<html>
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/about.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "/css/login.css">
  <title>Login</title>
  </head>

  <body>

    {{ login | safe }}

    <div class="jumbotron text-center login">
      <h1>About The Creators</h1>
      <p>Learn some more about the parts that made NaMoMo real</p>
    </div>

    <div class="container login">
      <div class="row login">
        <div class="col-sm-4 login">
          <h3>Na</h3>
          <p>Amy Nguyen</p>
          <img src="css/AN2.jpg" class="login img-responsive" alt="Amy Nguyen">
          <p>Amy is our JavaScript master!
            Not only has she probably searched the entire library by now,
            she also dabbles in design - especially color schemes. In her free time,
            she likes to watch YouTubers like Ryan Higa.</p>
        </div>
        <div class="login col-sm-4">
          <h3>MM</h3>
          <p>Matthew Merck</p>
          <img src="css/MM2.jpg" class="login img-responsive" alt="Matthew Merck">
          <p>Matthew is our Python dude.
            Not only did he write well over 1,000 lines of code, he did it with a smile!
            If you ever need a bingo partner, he's your guy!</p>
        </div>
        <div class="login col-sm-4">
          <h3>OO</h3>
          <p>Oreoluwa Odeyinka</p>
          <img src="css/OO.jpg" class="login img-responsive" alt="Oreoluwa Odeyinka">
          <p>Oreoluwa is all up in that CSS. She likes to make things that are functional yet beautiful.
          Her specialties include team meetings (at least twice a day) and always going to lunch on time.
          In her free time she likes to watch YouTube videos as well, especially Jackie Aina.
          </p>
        </div>
      </div>
      <div>
        <h3><center>Our Story</center></h3>
        <p>
          NaMoMo is a sustainability web app that allows users to track their household energy usage and reduce their
          ecological footprint, in addition to saving money.
          NaMoMo was inspired by the group's understanding of the importance of environmental protection
          and their experiences with dreadful and plain energy bills.
          Each month when the electricity company sends the bill, it also sends a breakdown showing
          what appliances were most use, and how it compares to the last month.
          However, it's the 21st century, and we thought: "What better way to do this than to build an app
          that lets you take control of that information?" It is our hope that we
          can partner with electricity companies in order to recieve the usage data from the source and, in turn, show people
          in real-time what their electricity usage is.
        </p>
      </div>
    </div>

  </body>
</html>
