<html>
  <head>
    <title>Input</title>
  <body>
    <h1> Please Enter the important Information <br></h1>

    <form method="post" action="/input">
      Heat Used: <input type="text" name="heating_usage"><br>
      Cooling Used: <input type="text" name="cooling_usage"><br>
      Light Used: <input type="text" name="lighting_usage"></br>
      Appliance Used: <input type="text" name="appliance_usage"></br>
      <input type="submit" value="Save Data" onclick = "loadDoc()"></input>
      <button type="reset">Reset the form</button>
    </form>
    {% if button == True %}
    <form method="get" action="/main">
    <button type="submit">Return</button>
    </form>
    {% endif %}
  </body>
</html>
