<html>
  <head>
    <title>Input</title>
    <link rel="stylesheet" type="text/css" href="css/input.css">
  </head>
    <body>
      <nav role='navigation'>
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="/main"><li>Home Page</li></a>
            <a href="/leaderboard"><li>Leaderboards</li></a>
            <a href="/input"><li>Input data</li></a>
            <a href="#"><li>Profile</li></a>
            <a href="/logout"><li>Sign out</li></a>

          </ul>

        </div>
      </nav>  

      <div class="container">
  <form id="contact" action="/input" method="post">
    <h3>Please Enter Monthly Energy Usage </h3>
    <fieldset>
      <input name="heating_usage" placeholder="KwH Heating: " type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name="cooling_usage" placeholder="KwH Cooling: " type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input name="lighting_usage" placeholder="KwH Lighting: " type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input name="appliance_usage" placeholder="Kwh Appliances: " type="text" tabindex="4" required>
    </fieldset>
  <!--  <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p> -->
    <input type="submit" value="Save Data" onclick = "loadDoc()"></input>
      <button type="reset">Reset the form</button>
      {% if button == True %}
      <form method="get" action="/main">
      <button type="submit">Return</button>
      </form>
      {% endif %}
  </form>


</div>
</body>
</html>
