<html>
  <head>
    <title>Input</title>
    <link rel="stylesheet" type="text/css" href="css/input.css">
  </head>

  <body>
    <!-- hamburger bar -->
      <nav role='navigation'>
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="/main"><li>Home Page</li></a>
            <a href="/leaderboard"><li>Leaderboards</li></a>
            <a href="/input"><li>Input data</li></a>
            <a href="#"><li>Profile</li></a>
            <a href="/logout"><li>Sign out</li></a>

          </ul>

        </div>
      </nav>

<!-- FORM -->
      <div class="container">
  <form id="contact" action="/input" method="post">
    <h3>Please Enter Monthly Energy Usage </h3>
    <fieldset>
      <input name="heating_usage" placeholder="KwH Heating: " type="number" tabindex="1" required autofocus min ="0">
    </fieldset>
    <fieldset>
      <input name="cooling_usage" placeholder="KwH Cooling: " type="number" tabindex="2" required min ="0">
    </fieldset>
    <fieldset>
      <input name="lighting_usage" placeholder="KwH Lighting: " type="number" tabindex="3" required min ="0">
    </fieldset>
    <fieldset>
      <input name="appliance_usage" placeholder="Kwh Appliances: " type="number" tabindex="4" required min ="0">
    </fieldset>
    <fieldset>
      <input name = "date" placeholder = "mm/dd/yyyy" type = "date" tabindex = "5" required>
    </fieldset>
    <input type="submit" value="Save Data" onclick = "loadDoc()"></input>
      <button id = "resetform" type="reset">Reset the form</button>
  </form>


</div>
</body>
</html>
