<html>
  <head>

    <title>Leaderboard</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/leaderboard.css">

  </head>

  <body>
    <nav role='navigation'>
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/main"><li>Home Page</li></a>
          <a href="/leaderboard"><li>Leaderboards</li></a>
          <a href="/input"><li>Input data</li></a>
          <a href="#"><li>Profile</li></a>
          <a href="/logout"><li>Sign out</li></a>

        </ul>

      </div>
    </nav>

    <p>leaderboard</p>
    <div id="container">
      <div class="row">
          <div class="name">Player1</div><div class="score">430</div>
      </div>

      <div class="row">
          <div class="name">Player2</div><div class="score">580</div>
      </div>

      <div class="row">
          <div class="name">Player3</div><div class="score">310</div>
      </div>

      <div class="row">
          <div class="name">Player4</div><div class="score">640</div>
      </div>

      <div class="row">
          <div class="name">Player5</div><div class="score">495</div>
      </div>
    </div>

  </body>
</html>
