<html>
  <head>

    <title>Leaderboard</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/leaderboard.css">

  </head>

  <body>
    <nav role='navigation'>
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/main"><li>Home Page</li></a>
          <a href="/leaderboard"><li>Leaderboards</li></a>
          <a href="/input"><li>Input data</li></a>
          <a href="/logout"><li>Sign out</li></a>

        </ul>

      </div>
    </nav>


    <div id="container">
      <h1><center>Monthly Leaderboard</center></h1>
      <div class="row">
          <div class="name">Name</div><div class="score">KwH Saved</div>
      </div>

      {% for score in scorelist %}

      <div class="row">
        <div class="name"> {{ score[2] }}. &nbsp  {{ score[0] }}</div><div class="score">{{ score[1] }}</div>
      </div>

      {% endfor %}

    </div>

  </body>
</html>
