<html>
  <head>
    <title>Your Usage</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
<!-- Hamburger bar -->
    <nav role='navigation'>
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/leaderboard"><li>Leaderboards</li></a>
          <a href="/input"><li>Input data</li></a>
          <a href="#"><li>Profile</li></a>
          <a href="/logout"><li>Sign out</li></a>
        </ul>

      </div>
    </nav>

<!-- tab bar -->
    <div class="tab">
      <button class="tablinks" onclick="openGraph(event, 'bar')"><i class="material-icons"> bar_chart</i>Usage History</button>
      <button class="tablinks" onclick="openGraph(event, 'pie')"><i class="material-icons"> pie_chart</i>Monthly Usage Breakdown</button>
      <button class="tablinks" onclick="openGraph(event, 'line')"><i class="material-icons"> show_chart</i>Usage by Category</button>
      <button class="tablinks about" onclick="openGraph(event, 'about')"><i class="material-icons">info</i>About</button>
    </div>

<!-- Defines content of each tab -->
    <script src = "https://www.gstatic.com/charts/loader.js"></script>
    <div id="bar" class="tabcontent">
      <h1 align = "center">Total Usage per Month</h1>

      <script src = "/js/barChart.js"></script>
      <p align = "center" id = "barchart"></p>
      <h3 align = "center" id = "bartips"></h3>
    </div>

    <div id="pie" class="tabcontent">
      <h1 align = "center">Monthly Usage Breakdown</h1>
      <script src = "/js/pieChart.js"></script>
      <p align = "center" id = "piechart"></p>
    </div>

    <div id="line" class="tabcontent">
      <h1 align = "center">Breakdown of type_ Usage by Month</h1>
      <script src = "/js/lineChart.js"></script>
      <p align = "center" id = "linechart"></p>
    </div>

    <div id="about" class="tabcontent">
      <h1 align = "center">About Us</h1>
      <p align = "center" id = "linechart">hi</p>
    </div>




<!-- controls the opening of tabs -->
    <script>
    function openGraph(evt, graphType) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(graphType).style.display = "block";
        evt.currentTarget.className += " active";
    }
    </script>
  </body>
</html>
