
<html>

  <head>
    <title>Your Usage</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>

  <body>
  <!--  <script src = "http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src = "js/data.js"></script> -->
    <nav role='navigation'>
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/leaderboard"><li>Leaderboards</li></a>
          <a href="/input"><li>Input data</li></a>
          <a href="#"><li>Profile</li></a>
          <a href="/logout"><li>Sign out</li></a>
        </ul>

      </div>
    </nav>
    <!--<p>{{ heat }}</p> -->
    <div class="tab">
  <button class="tablinks" onclick="openGraph(event, 'bar')"><i class="material-icons"> bar_chart</i>Bar graph</button>
  <button class="tablinks" onclick="openGraph(event, 'pie')"><i class="material-icons"> pie_chart</i>Pie chart</button>
  <button class="tablinks" onclick="openGraph(event, 'line')"><i class="material-icons"> show_chart</i>Line graph</button>
</div>

<script src = "https://www.gstatic.com/charts/loader.js"></script>
<div id="bar" class="tabcontent">
  <h3>Bar graph</h3>
  <script src = "/js/barChart.js"></script>
  <p id = "barchart"></p>
</div>

<div id="pie" class="tabcontent">
  <h3>Pie chart</h3>
  <script src = "/js/pieChart.js"></script>
  <p id = "piechart"></p>
</div>

<div id="line" class="tabcontent">
  <h3>Line graph</h3>
  <script src = "/js/lineChart.js"></script>
  <p id = "linechart"></p>
</div>

<script>
function openGraph(evt, graphType) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(graphType).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
  <!--  <div id="chart" style="width: 900px; height: 500px;"></div> -->
  <!--  <div id = "chart"></div> -->
  </body>
</html>
